@import "sass/header";
@import "sass/cources";
@import "sass/campus";
@import "sass/facilities";
@import "sass/review";
@import "sass/footer";



 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 
 